<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
      <h2>Borrar?</h2>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
      <mat-nav-list>
        <a mat-list-item (click)="confirmar()">
          <span mat-line>Si</span>
        </a>
        <a mat-list-item (click)="cancelar()">
          <span mat-line>No</span>
        </a>
      </mat-nav-list>
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
